body{
  background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
 background-position: left top, right bottom;
 background-repeat: no-repeat, no-repeat;
}
.top-left{
  padding-top: 8%;
  padding-left: 100px;
  padding-right: 130px;
}
.top-right{
  padding-top: 120px;
}
.para{
  color:#827e82;
}
.special2{
  color: white;
  position: absolute;
  left: 70px;
}
p{
  color: #ded9de;
}
h3{
  font-weight: bold;
  font-size: 50px;
  color:#573253;
}
span{
  font-weight: bold;
}
.left-box{
  background-color: #573253;
  padding-top: 35px;
  padding-right: -;
  padding-bottom: 27px;
  padding-left: 30px;
  width: 355px;
  padding-right: 25px;
  border-radius: 5%;
  margin: 10px;
  margin-right: 12px;
}
.middle-box{
  background-color:#573253;
  padding-top: 35px;
  padding-right: -;
  padding-bottom: 27px;
  padding-left: 30px;
  width: 355px;
  padding-right: 25px;
  border-radius: 5%;
  margin: 10px 18px;
  position: relative;
  top: 15px;
}
.right-box{
  background-color: #573253;
  padding-top: 35px;
  padding-right: -;
  padding-bottom: 27px;
  padding-left: 30px;
  width: 355px;
  padding-right: 25px;
  border-radius: 5%;
  margin: 10px 18px;
  position: relative;
  top: 30px;
}
.top{
  background-color:#f2e6f1;
  font-weight: bold;
  padding: 15px 40px 15px 30px;
  margin: 20px 110px 20px 0;
  border-radius: 5%;
  width: 420px;
}
 .middle{
   background-color:#f2e6f1;
   font-weight: bold;
   padding: 15px 40px 15px 30px;
   margin: 20px 110px 20px 0;
   border-radius: 8%;
   position: relative;
   left: 35px;
   width: 420px;
 }
 .bottom{
   background-color:#f2e6f1;
   font-weight: bold;
  padding: 15px 40px 15px 30px;
   margin: 20px 110px 20px 0;
   border-radius: 8%;
   position: relative;
   left: 70px;
   width: 420px;
 }
.bottom-container{
  color: white;
  padding-left: 90px;
  padding-top: 30px;
  padding-left: 20;
}

@media screen and (max-width: 1024px){
  body{
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
   background-position: left top, right bottom;
   background-repeat: no-repeat, no-repeat;
  }
  .top, .middle, .bottom{
    padding-left: 140px;
    padding-bottom: 30px;
    position: relative;
    padding-top: 10px;
    width: 370px;
  }

  .top-left{
    padding: 50px;
    text-align: center;
  }
  .para{
    height: 105px;
      width: 400px;
      padding-top: 30px;
      padding-right: 45px;
      padding-left: 45px;
  }
  .top-right{
    padding-top: 10px;
    padding-left: 55px;
  }

  .middle, .bottom{
    position: static;
  }
  .bottom-container{
    padding-left: 50px;
  }
  .rate{
    display:block;
    position: absolute;
    left: 75px;
  }
}
